body {
  background: cadetblue;
}

#notes {
  background: whitesmoke;
  border-radius: 1rem;
  box-shadow: 0 10px 20px rgba($color: #000000, $alpha: 0.5);
  display: grid;
  grid-template-rows: 90% 10%;
  grid-template-columns: 70% 30%;
  grid-template-areas: "note-list note-list" "input button";
  height: 70vh;
  margin: 1rem;
  padding: 1rem;
}

ul {
  grid-area: note-list;
  overflow: auto;
  list-style-type: none;
}

#notes > input {
  grid-area: input;
  padding: 5px;
}

button {
  grid-area: button;
}
